body {
    margin : 0px;
    padding : 0px;
}

* {
    box-sizing: border-box;
}

#root {
    height : 100vh;
    width : 100vw;
    background-color : teal;
    display : flex;
}

.board {
    height : 100%;
    width : 50%;
    border : 3px solid white;
}

.display {
    height : 100%;
    width : 50%;
    border : 3px solid white;
    display : flex;
    flex-direction: column;
}

.title {
    height : 10%;
    font-size : 50px;
    text-align : center;
    border : 2px solid white;
    color : white;
}

.content {
    height : 90%;
    border : 2px solid white; 
}

.ttt {
    height : 75%;
    width : 75%;
    margin : 75px auto;
    border : 3px solid white;
    border-radius : 5px;
    display : flex;
    flex-direction: column;
}

.ttt .row {
    height : 100%;
    display : flex;
}

.ttt .row button{
    font-size : 80px;
}



.ttt button {
    width : 100%;
    cursor : pointer;
}

.ttt button:hover {
    background-color : aquamarine;
}  

.content .history {
    height : 75%;
    width : 75%;
    margin : 75px auto;
    border : 3px solid white;
    border-radius : 5px;
    display : flex;
    flex-direction: column;
    overflow-y : auto;
}

.content button{
    padding : 20px;
    font-size : 30px;
    cursor : pointer;
}